/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485


animation-delay: 3s; (to delay animation) 
animation-iteration-count: 3; (number of times the animation occors)
animation-timing-function: ease-out; (ease animation function)
backface-visibility: hidden; (determines wether or not the 
                            back part of the element we transformed is 
                            visible or hidden for user)
animation-fill-mode: backwards; (will start animation before 0%)

*/
@import "base/base"; 
@import "base/animations"; 
@import "base/utilities"; 
@import "base/typography"; 

@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/functions";

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-text: #777;
$color-white: #fff;
$color-black: #000;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-text;
    padding: 30px; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh); 
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);  
}
span{
    display: block;
}
.boxxy{
    background-color: red;
    height: 2000px;
}
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;

    }
}
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 35px;
}
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 50px;
    &--main{
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 30px;
                // animation moveInLeft 1s ease-out; (short version)
                -webkit-animation-name: moveInLeft;
                        animation-name: moveInLeft;
                -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
    }
    &--sub{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 16px;

                -webkit-animation-name: moveInRight;

                        animation-name: moveInRight;
                -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
    }
}




.btn{
    &:link,
    &:visited {
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 50px;
        border-radius: 50px;
        transition: all .2s;/* must always in intial defult state*/
        position: relative;
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
    &--white{
        background-color: $color-white;
        color: $color-text;
        &::after{
            background-color: $color-white;
        transition: all .2s;
        }
    }
    &--animated{
        -webkit-animation: moveInBottom .5s ease-out;
                animation: moveInBottom .5s ease-out;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);/* scale-all direction Multiply size
                                    scaleX means only in X
                                    scaleY means only in Y*/
            opacity: 0; /* this means as it transiction from initial 
                        state to scale 1.5 it disappears*/
        }
    }
    &:after{
        content:"";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s;
    }
}


