/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485


animation-delay: 3s; (to delay animation) 
animation-iteration-count: 3; (number of times the animation occors)
animation-timing-function: ease-out; (ease animation function)
backface-visibility: hidden; (determines wether or not the 
                            back part of the element we transformed is 
                            visible or hidden for user)
animation-fill-mode: backwards; (will start animation before 0%)

*/
@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/functions";

@import "base/base"; 
@import "base/animations"; 
@import "base/utilities"; 
@import "base/typography"; 


@import "components/buttons";

@import "layout/header";

@import "pages/home"; 

// vendors
// themes





.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh); 
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh); 
    position: relative;
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;

    }
    &__logo-box{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    &__logo{
        height: 35px;
    }
}


.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 50px;
    &--main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 30px;
                // animation moveInLeft 1s ease-out; (short version)
                -webkit-animation-name: moveInLeft;
                        animation-name: moveInLeft;
                -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
    }
    &--sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 16px;

                -webkit-animation-name: moveInRight;

                        animation-name: moveInRight;
                -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
    }
}







