body {
        font-family: "lato", sans-serif;
        font-weight: 400;
        // font-size: 16px;
        line-height: 1.7;
        color: $color-text;
        padding: 3rem;  
        box-sizing: border-box;
    }
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 5rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
                // animation moveInLeft 1s ease-out; (short version)
                -webkit-animation-name: moveInLeft;
                        animation-name: moveInLeft;
                -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.6rem;

                -webkit-animation-name: moveInRight;

                        animation-name: moveInRight;
                -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
    }
}
